@media screen and (max-width: 420px) {
  #siteLogo {
    display: block;
  }

  .hamburger {
    color: #bb874f;
    margin-top: -0.7rem;
    margin-left: 18.5rem;
  }

  .nav-btn {
    display: inline-block;
    position: absolute;
    right: 0px;
    top: 0px;
  }

  .navigation-menu ul {
    flex-direction: column;
    position: absolute;
    top: 4rem;
    left: 0;
    width: 100%;
    height: calc(100vh - 60px);
    background-color: white;
    z-index: 1;
    display: none;
    -webkit-box-shadow: 0px 23px 24px 0px rgba(245, 245, 245, 1);
    -moz-box-shadow: 0px 23px 24px 0px rgba(245, 245, 245, 1);
    box-shadow: 0px 23px 24px 0px rgba(245, 245, 245, 1);
  }

  .navigation-menu li {
    text-align: center;
    position: relative;
    top: 7%;
    margin-top: 3.5rem !important;
    margin-left: -3.2rem !important;
  }
  .navigation-menu li a {
    width: 100%;
    margin-left: 3.7rem;
    font-size: 2rem !important;
  }
  .navigation-menu.expanded ul {
    display: block;
    height: 100vh;
  }
}

#siteLogo {
  display: none;
}

body {
  align-items: center;
  // justify-content: center;
}

a {
  text-decoration: none;
  transition: 0.25s ease;
}

.nav-btn {
  display: none;
}

.navbar-ul {
  display: flex;
  flex-wrap: wrap;

  li {
    padding-top: 2.7rem;
  }

  &:hover {
    a {
      color: RGB(237, 238, 218);
      &:hover {
        color: #bb874f;
      }
    }
  }
}
